In [48]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file
from bokeh.embed import components
from bokeh.resources import CDN

start = datetime.datetime(2016, 3, 1)
end = datetime.datetime(2016, 3, 10)

df = data.DataReader(name="GOOG", data_source="yahoo", start=start, end=end)
df

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-03-01,703.619995,718.809998,699.770020,718.809998,2151400,718.809998
2016-03-02,719.000000,720.000000,712.000000,718.849976,1629000,718.849976
2016-03-03,718.679993,719.450012,706.020020,712.419983,1958000,712.419983
2016-03-04,714.989990,716.489990,706.020020,710.890015,1972100,710.890015
2016-03-07,706.900024,708.091003,686.900024,695.159973,2985100,695.159973
2016-03-08,688.590027,703.789978,685.340027,693.969971,2076300,693.969971
2016-03-09,698.469971,705.679993,694.000000,705.239990,1421500,705.239990
2016-03-10,708.119995,716.440002,703.359985,712.820007,2833500,712.820007

In [49]:
date_increase = df.index[df.Close > df.Open]
date_decrease = df.index[df.Close < df.Open]

In [50]:
print(type(date_increase))
date_decrease

<class 'pandas.tseries.index.DatetimeIndex'>

DatetimeIndex(['2016-03-02', '2016-03-03', '2016-03-04', '2016-03-07'], dtype='datetime64[ns]', name='Date', freq=None)

In [51]:
def inc_dec(c, o):
    if c > o:
        value = 'Increase'
    elif o > c:
        value = 'Decrease'
    else:
        value = 'Equal'
    return value

df["Status"] = [inc_dec(c, o) for c, o in zip(df.Close, df.Open)]

df['Middle'] = (df.Open+df.Close)/2

df['Height'] = abs(df.Close-df.Open)

df

,Open,High,Low,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2016-03-01,703.619995,718.809998,699.770020,718.809998,2151400,718.809998,Increase,711.214997,15.190003
2016-03-02,719.000000,720.000000,712.000000,718.849976,1629000,718.849976,Decrease,718.924988,0.150024
2016-03-03,718.679993,719.450012,706.020020,712.419983,1958000,712.419983,Decrease,715.549988,6.260010
2016-03-04,714.989990,716.489990,706.020020,710.890015,1972100,710.890015,Decrease,712.940002,4.099975
2016-03-07,706.900024,708.091003,686.900024,695.159973,2985100,695.159973,Decrease,701.029999,11.740051
2016-03-08,688.590027,703.789978,685.340027,693.969971,2076300,693.969971,Increase,691.279999,5.379944
2016-03-09,698.469971,705.679993,694.000000,705.239990,1421500,705.239990,Increase,701.854981,6.770019
2016-03-10,708.119995,716.440002,703.359985,712.820007,2833500,712.820007,Increase,710.470001,4.700012

In [52]:
p = figure(x_axis_type='datetime', width=1000, height=300, title='Candlestick Chart', responsive=True)
p.grid.grid_line_alpha = 0.3
hours_12 = 12*60*60*1000


p.segment(df.index, df.High, df.index, df.Low, color="black")

p.rect(df.index[df.Status=='Increase'], df.Middle[df.Status=='Increase'],
       hours_12, df.Height[df.Status=='Increase'], fill_color='#CCFFFF', line_color='black')

p.rect(df.index[df.Status=='Decrease'], df.Middle[df.Status=='Decrease'], hours_12, 
       df.Height[df.Status=='Decrease'],fill_color='#FF3333', line_color='black')

#output_file("cs.html")

#show(p)

script1, div1 = components(p)

cdn_js = CDN.js_files
cdn_css = CDN.css_files

In [54]:
cdn_js[0]

'https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js'

In [57]:
cdn_css[0]

'https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css'